.item {
    position: relative;
    float: right;
    right: 0%;
    top: 0%;
}

.item h2 {
    text-align:center;
    position: absolute;
    line-height: 125px;
    width: 100%;
    /* left: 50%; */
}
.item h3 {
    text-align:right;
    position: fixed;
    line-height: 125px;
    width: 100%;
    right: 7%;
    top: 0%;
}

svg {
    transform: rotate(-90deg);
}

.circle_animation {
  stroke-dasharray: 175; /* this value is the pixel circumference of the circle */
  stroke-dashoffset: 175;
  transition: all 1s linear;
}
.goldFish {
    position: fixed;
    float: right;
    right: 7%;
    top: 2%;
}
