body {
    margin: 0;
}

canvas {
    width: 100%;
    height: 100%;
}

#progressBar {
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

#info {

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    font-size: 30px;
    font-family: 'Courier New';
    display: -webkit-box;
    display: -moz-box;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    color: #ffffff;
    text-align: center;

}

.w3-container {
    /* width: 500px;
    height: 200px; */
    /* margin: 50%; */
    color: white;
    position: absolute;
    font-size: 100px;
    font-family: fantasy;
    top: 50%;
    left: 25%;
    text-shadow: 5px 3px 5px black;
}

#mode {
    
    /* width: 100%;
    height: 100%;
    
    position: absolute;
    top: 50%;
    left: 50%; */
    /* right: 0;
    bottom: 0; */
}

.item {
    visibility: hidden;
}

.goldFish {
    visibility: hidden;
}

.bar_container {
    width: 150px;
    height: 150px;
}

.bar_border {
    width: 150px;
    height: 150px;
}

.bar_circle {
    width: 138px;
    height: 138px;
    top: 6px;
    left: 6px;
}

.bar_progress {
    text-shadow: 1px 1px black;
}