.bar_container {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline-block;
    vertical-align: top;
}

circular-progress-bar .bar_progress, circular-progress-bar-status .bar_progress {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    width: 100%;
    text-align: center;
}

circular-progress-bar .bar_circle, circular-progress-bar-status .bar_circle {
    position: relative;
    border-radius: 100%;
}

circular-progress-bar .bar_border, circular-progress-bar-status .bar_border {
    position: relative;
    border-radius: 100%;
}

circular-progress-bar-status .bar_status {
    width: 100%;
    text-align: center;
    margin-top: 0;
    font-size: 12px;
}